@font-face {
    font-family: "GothamProRegular";
    src: url("fonts/GothamProRegular/GothamProRegular.eot");
    src: url("fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FuturaDemi";
    src: url("fonts/FuturaRegular/FuturaNewDemi-Reg.eot");
    src: url("fonts/FuturaRegular/FuturaNewDemi-Reg.eot?#iefix")format("embedded-opentype"),
    url("fonts/FuturaRegular/FuturaNewDemi-Reg.woff") format("woff"),
    url("fonts/FuturaRegular/FuturaNewDemi-Reg.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FuturaLight";
    src: url("fonts/FuturaLight/FuturaNewLight-Reg.eot");
    src: url("fonts/FuturaLight/FuturaNewLight-Reg.eot?#iefix")format("embedded-opentype"),
    url("fonts/FuturaLight/FuturaNewLight-Reg.woff") format("woff"),
    url("fonts/FuturaLight/FuturaNewLight-Reg.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}